header {
    height: 50px; 
}

body {
    background-image: url('./img/kanye.png');
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat; 
    padding: 0 3%;
    background-attachment: fixed;
    min-height: 60vh; 
}


    .titleRollin{
        width: 90%;
        align-items: center;
        padding: 3px;
    }

    .grid-container{
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        grid-gap: 5px; 
        margin-top: 5px;
        justify-content: center;
    
    
    }
    .father{
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
        grid-template-rows: repeat(2, auto); 
        grid-gap: 5px; 
        margin-top: 5px;
        justify-content: center;
        margin-bottom: 10px; 
    }
    .contenedortitleTime{
        text-align: center;
        margin-bottom: 80%; 
    }
    .titleNirvana{
        width: 150%;
        height: 20%;
        margin-left: 0;
        justify-content: left;
        align-items: start;
    }
    .PContenedor1{
    margin-top: 0;
    width: 100%;
    }
    .itemEncabezado{
        color: white;
        margin-bottom: 0;
        text-align: center;
    }
    .spanEncabezado{
        color: brown;
        font-weight: 400;
        text-align: center;
        margin-top: 13%;
    }
    hr{
        margin: 0;
    }
    .spanYearOn{
        color: white;
        background-color: red;
        padding: 5px 12px;
        
    }

    .contenedorFilas{
        grid-template-rows: repeat(2, auto); 

    }
    .Contenedor1{
        color: white;
        text-align: left;
        width: 30%;
        display: flex;
        grid-template-rows: repeat(auto-fit, minmax(min-content, max-content));
        flex-direction: column;
    
    }
    .Contenedor1:last-child {
        align-self: end; 
    }
    .item {
        margin-bottom: 1px; /* Espacio entre elementos */
        width: 100%;
    }
    .rayaRoja{
        height: 6%;
        width: 100px;
    }

    .codigoBarras{
        width: 100%;
        margin-top: auto;
    }
